.resultatParent {
    display: flex;
    width: 100%;
    justify-content: center;

    .resultat {
        margin: 2px;
        padding: 5px;
        position: fixed;
        z-index: 999;
        color: white;
        font: Arial, Helvetica, sans-serif;
        border-radius: 3px;
        background-color: #3880ff;
    }
}