<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button name="exit"></ion-back-button>
    </ion-buttons>
    <ion-title>Question 1 sur 4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-spinner *ngIf="!imageUrlTab[0]" style="display:block; margin: auto; height: 100%;"></ion-spinner>
  
  <div style="text-align:center;">
    <img *ngFor="let imgUrl of imageUrlTab" src={{imgUrl}} style="padding: 5px; border-radius: 5%; display:inline-block;"/>
  </div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="navigate()">
      <ion-icon name="location-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>