<ion-content [fullscreen]="true">

  <ion-slides pager="true" style="height: 100%;">
    
    <ion-slide class="euBG">
      <div>
        <div class="title">GeoGuesseur</div>
        <ion-button expand="block" shape="round" (click)="navigate('Europe+and+North+America')">Europe et Amérique du Nord</ion-button>
      </div>
    </ion-slide>

    <ion-slide class="asiaBG">
      <div>
        <div class="title">GeoGuesseur</div>
        <ion-button expand="block" shape="round" (click)="navigate('Asia+and+the+Pacific')">Asie-Pacifique</ion-button>
      </div>
    </ion-slide>

    <ion-slide class="southAmericaBG">
      <div style="margin: 1em;">
        <div class="title">GeoGuesseur</div>
        <ion-button expand="block" shape="round" (click)="navigate('Latin+America+and+the+Caribbean')">Amérique latine et Caraïbes</ion-button>
      </div>
    </ion-slide>

    <ion-slide class="africaBG">
      <div>
        <div class="title">GeoGuesseur</div>
        <ion-button expand="block" shape="round" (click)="navigate('Africa')">Afrique</ion-button>
      </div>
    </ion-slide>
    
    <ion-slide class="arabicBG">
      <div>
        <div class="title">GeoGuesseur</div>
        <ion-button expand="block" shape="round" (click)="navigate('Arab+States')">Monde arabe</ion-button>
      </div>
    </ion-slide>

  </ion-slides>

</ion-content>
