<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Play ?</strong>
    <p><a rel="noopener noreferrer" href="/clic-location">TROUVER</a></p>
  </div>

  <ion-item style="cursor: pointer;margin-top:100px;" (click)="onpickupClick()">
    <ion-icon slot="start" name="locate"></ion-icon>
    <ion-label position="stacked">Pickup Location</ion-label>
     <ion-textarea  style="margin-top:20px;" >{{pickupLocation}}</ion-textarea>
  </ion-item>
</ion-content>
